
<% include partials/header %>

<body id="kt_body" class="bg-body">
  <%- include('partials/message') %>

  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-up -->
    <div
      class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
      style="background-image: url(/media/illustrations/sketchy-1/14.png"
    >
      <!--begin::Content-->
      <div
        class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20"
      >
        <!--begin::Logo-->
        <!--end::Logo-->
        <!--begin::Wrapper-->
        <div class="w-lg-1200px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
          <!--begin::Table Widget 4-->
          <div class="card card-flush h-xl-100">
            <!--begin::Card header-->
            <div class="card-header pt-7">
              <!--begin::Title-->
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder text-gray-800">All Transactions</span>
                <span class="text-gray-400 mt-1 fw-bold fs-6"></span>
              </h3>
              <!--end::Title-->
              <!--begin::Actions-->
              <div class="card-toolbar">
              </div>
              <!--end::Actions-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-2">
              <!--begin::Table-->
              <table class="table align-middle table-row-dashed fs-6 gy-3 " id="kt_table_widget_4_table">
                <!--begin::Table head-->
                <thead>
                  <!--begin::Table row-->
                  <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th class="min-w-100px">Order ID</th>
                    <th class="text-end min-w-100px">Created</th>
                    <th class="text-end min-w-100px">Credit Lapses</th>
                    <th class="text-end min-w-100px">Total</th>
                    <th class="text-end min-w-100px">Reason</th>
                    <th class="text-end min-w-50px">Status</th>
                  </tr>
                  <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="fw-bolder text-gray-600">
                  <% for (let i = 0; i < allTransactions.length; i++) { %>
                  <tr>
                    <td>
                      <span class="text-gray-800 text-hover-primary"><%= allTransactions[i].id %></span>
                    </td>
                    <td class="text-end"><%= allTransactions[i].createDate %></td>
                    <td class="text-end">
                      <span class="text-gray-800 fw-boldest"><%= allTransactions[i].creditLapses %></span>
                    </td>
                    <td class="text-end">
                      <span class="text-gray-800 fw-boldest">$<%= allTransactions[i].total %></span>
                    </td>
                    <td class="text-end">
                      <span class="text-gray-800 fw-boldest"><%= allTransactions[i].reason %></span>
                    </td>
                    <td class="text-end">
                      <% if(allTransactions[i].status=='PENDING' ){ %>
                        <span class="badge py-3 px-4 fs-7 badge-light-warning">PENDING</span>
                      <% }else{ %>
                        <% if(allTransactions[i].status=='REJECTED' ){ %>
                          <span class="badge py-3 px-4 fs-7 badge-light-danger">REJECTED</span>
                          <% }else{ %>
                            <span class="badge py-3 px-4 fs-7 badge-light-success">APPROVED</span>
                          <% } %>
                      <% } %>
                     
                    </td>
                  </tr>
                  <% } %>
                  
                </tbody>
                <!--end::Table body-->
              </table>
              <!--end::Table-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Form-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Content-->
      <!--begin::Footer-->
      <% include partials/footer %>
<!-- Footer -->

