
<% include partials/header %>

<body id="kt_body" class="bg-body">
  <%- include('partials/message') %>

  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-up -->
    <div
      class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
      style="background-image: url(/media/illustrations/sketchy-1/14.png"
    >
      <!--begin::Content-->
      <div
        class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20"
      >
        <!--begin::Logo-->
        <a href="../../demo1/dist/index.html" class="mb-12">
          <img alt="Logo" src="/media/logos/logo-1.svg" class="h-40px" />
        </a>
        <!--end::Logo-->
        <!--begin::Wrapper-->
        <div class="w-lg-900px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
          <!--begin::Table Widget 4-->
          <div class="card card-flush h-xl-100">
            <!--begin::Card header-->
            <div class="card-header pt-7">
              <!--begin::Title-->
              <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bolder text-gray-800">All payments</span>
                <span class="text-gray-400 mt-1 fw-bold fs-6"></span>
              </h3>
              <!--end::Title-->
              <!--begin::Actions-->
              <div class="card-toolbar">
                <!--begin::Filters-->
                <div class="d-flex flex-stack flex-wrap gap-4">
                  
                  <!--begin::Search-->
                  <div class="position-relative my-1">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                    <span class="svg-icon svg-icon-2 position-absolute top-50 translate-middle-y ms-4">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <input type="text" data-kt-table-widget-4="search" class="form-control w-150px fs-7 ps-12" placeholder="Search" />
                  </div>
                  <!--end::Search-->
                </div>
                <!--begin::Filters-->
              </div>
              <!--end::Actions-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-2">
              <!--begin::Table-->
              <table class="table align-middle table-row-dashed fs-6 gy-3 " id="kt_table_widget_4_table">
                <!--begin::Table head-->
                <thead>
                  <!--begin::Table row-->
                  <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                    <th class="min-w-100px">Order ID</th>
                    <th class="text-end min-w-100px">Created</th>
                    <th class="text-end min-w-125px">Customer</th>
                    <th class="text-end min-w-100px">location</th>
                    <th class="text-end min-w-100px">Total</th>
                    <th class="text-end min-w-50px">Status</th>                  </tr>
                  <!--end::Table row-->
                </thead>
                <!--end::Table head-->
                <!--begin::Table body-->
                <tbody class="fw-bolder text-gray-600">
                  <% for (let i = 0; i < allPayments.length; i++) { %>
                  <tr>
                    <td>
                      <span class="text-gray-800 text-hover-primary"><%= allPayments[i].id %></span>
                    </td>
                    <td class="text-end"><%= allPayments[i].createDate %></td>
                    <td class="text-end">
                      <a href="#" class="text-gray-600 text-hover-primary"><%= allPayments[i].name %></a>
                    </td>
                    <td class="text-end"><%= allPayments[i].location %></td>
                    <td class="text-end">
                      <span class="text-gray-800 fw-boldest">$<%= allPayments[i].total %></span>
                    </td>
                    <td class="text-end">
                      <% if(allPayments[i].transactionStatus=='PENDING' ){ %>
                        <span class="badge py-3 px-4 fs-7 badge-light-warning">PENDING</span>
                      <% }else{ %>
                        <% if(allPayments[i].transactionStatus=='REJECTED' ){ %>
                          <span class="badge py-3 px-4 fs-7 badge-light-danger">REJECTED</span>
                          <% }else{ %>
                            <span class="badge py-3 px-4 fs-7 badge-light-success">APPROVED</span>
                          <% } %>
                      <% } %>
                     
                    </td>
                  </tr>
                  <% } %>
                  
                </tbody>
                <!--end::Table body-->
              </table>
              <!--end::Table-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Form-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Content-->
      <!--begin::Footer-->
      <% include partials/footer %>
<!-- Footer -->

